<li id="{{ property }}">
  <span class="property">{{ property }}</span>:
  <div class="js-action js-action--create ico" title="Create new shape">
    <nav>
      <a data-shape="circle()">circle</a>
      <a data-shape="ellipse()">ellipse</a>
      <a data-shape="polygon()">polygon</a>
    </nav>
  </div><div class="js-action js-action--edit ico" title="Edit shape" {{#unless editable}} disabled {{/unless}}></div>
  <span class="value">{{ value }}</span>;
</li>
